@page
@inject IStringLocalizer<LoginWith2FaModel> PageStrings
@inject CommonLocalizationService CommonStrings
@model LoginWith2FaModel
@{
    ViewData["Title"] = PageStrings["Page.Title"];
    Layout = "_Accounts-Box";
}

<div>
	<div class="form-left pt-5 px-5 fs-5">@PageStrings["Form.Title"]</div>
	<div class="form-left h-100 pt-5 pb-5 px-5">
		<form method="post" class="row g-4">
            <div class="col-sm-12">
                <label asp-for="Input.TwoFactorCode">@CommonStrings.Get("AuthenticatorCode")<span class="ps-1 text-danger">*</span></label>
				<div class="input-group">
                    <div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
                    <input asp-for="Input.TwoFactorCode" type="text" class="form-control" placeholder="@CommonStrings.Get("Placeholder.AuthenticatorCode")">
				</div>
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
			</div>
            <div class="col-sm-12">
                <div class="form-check float-end ">
                    <input asp-for="Input.RememberMachine" class="form-check-input" type="checkbox" id="inlineFormCheck">
                    <label asp-for="Input.RememberMachine" class="form-check-label" for="inlineFormCheck">@PageStrings["Remember.Machine"]</label>
                </div>
            </div>
			<div class="col-sm-12">
				<button id="login-submit" type="submit" class="btn btn-primary px-4 float-end mt-4">@PageStrings["Form.Button.Submit"]</button>
			</div>
            <div class="col-sm-12">
                <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">@PageStrings["LogInWithRecoveryCode"]</a>
            </div>
		</form>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}