@page
@inject IStringLocalizer<RegisterModel> PageStrings
@inject CommonLocalizationService CommonStrings
@model RegisterModel
@{
    ViewData["Title"] = PageStrings["Page.Title"];
    Layout = "_Accounts-Box";
}

<div>
	<div class="form-left pt-5 px-5 fs-5">@PageStrings["Form.Title"]</div>
	<div class="form-left h-100 pt-5 pb-5 px-5">
		<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="row g-4">
			<div class="col-12">
				<label asp-for="Input.Email">@CommonStrings.Get("Username")<span class="ps-1 text-danger">*</span></label>
				<div class="input-group">
					<div class="input-group-text"><i class="fa-solid fa-user"></i></div>
					<input asp-for="Input.Email" type="text" class="form-control" placeholder="@CommonStrings.Get("Placeholder.Username")">
				</div>
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="col-12">
				<label asp-for="Input.Password">@CommonStrings.Get("Password")<span class="ps-1 text-danger">*</span></label>
				<div class="input-group">
					<div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
					<input asp-for="Input.Password" type="password" class="form-control" placeholder="@CommonStrings.Get("Placeholder.Password")">
				</div>
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="col-12">
				<label asp-for="Input.ConfirmPassword">@CommonStrings.Get("ConfirmPassword")<span class="ps-1 text-danger">*</span></label>
				<div class="input-group">
					<div class="input-group-text"><i class="fa-solid fa-lock"></i></div>
					<input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="@CommonStrings.Get("Placeholder.ConfirmPassword")">
				</div>
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			<div class="col-sm-6 d-flex align-items-end">
				@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
				{
					<div class="text-danger font-size-sm">@Model.ErrorMessage</div>
				}
			</div>
			<div class="col-sm-6">
				<button id="register-submit" type="submit" class="btn btn-primary px-4 float-end mt-4">@PageStrings["Form.Button.Submit"]</button>
			</div>
		</form>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
